
.site-header{
    background-color: var(--header-bg-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.header-wrapper{
    padding: 23px 0;
}

.header-link {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    color: var(--main-text-color);
    margin: 0;
    
}
.header-darkmode {
    max-width: 120px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left: 28px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: var(--main-text-color);
    background-image: url("../../assets/images/moon.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}