:root{
    --man-inpul-color: #848484;
    --main-text-color: #111517;
    --main-body-color: #f2f2f2;
    --header-bg-color: #fff;
}

*{
    box-sizing: border-box;
}

html{
    box-sizing: border-box;
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/nunito-sans-v12-latin-300.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("./assets/fonts/nunito-sans-v12-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/nunito-sans-v12-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("./assets/fonts/nunito-sans-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/nunito-sans-v12-latin-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("./assets/fonts/nunito-sans-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/nunito-sans-v12-latin-800.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("./assets/fonts/nunito-sans-v12-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body{
    font-family: "Nunito Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    
}

.theme-dars{
    --man-inpul-color: #fff;
    --main-text-color: #fff;
    --main-body-color: #202C36;
    --header-bg-color: #2B3844;
}

.hero-section{
  padding: 48px 0 45px 0;
  background-color: var(--main-body-color);
}


.site-search{
    position: relative;
}

.site-search-input {
    height: 56px;
    max-width: 480px;
    padding: 18px 10px 18px 42px;
    border: 0;
    color: #848484;
    background-color: var(--header-bg-color);
    -webkit-box-shadow: 0px 2px 9px #0000000e;
    box-shadow: 0px 2px 9px #0000000e;
    border-radius: 5px;
}
.site-search-input::placeholder {
    color:  var(--man-inpul-color);
}

.site-search::before{
    position: absolute;
    top: 18px;
    left: 13px;
    width: 18px;
    height: 18px;
    background-image: url("../src/assets/images/search.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    content: "";
  }
  

.form-selects {
    width: 200px;
    height: 56px;
    border: 0;
    padding: 18px 24px;
    appearance: none;
    color: var(--main-text-color) ;
    background-color: var(--header-bg-color) ;
    background-image: url("../src/assets/images/next.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: calc(50% + 70px) ;
  }
.site-region {
    margin-bottom: 5px;
    border: 0;
    color: var(--main-text-color) ;
    background: var(--header-bg-color);
    box-shadow: 0px 2px 9px #0000000e;
    border-radius: 5px;
}